html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  background: url("img/bgimage.jpg") center/cover no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
}

#prompt {
  width: 50vw;
  height: 50vh;

  position: relative;        
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 70px;
  overflow: hidden;          
}

#prompt img {
  width: 100%;
  height: 100%;
  object-fit: cover;        
  opacity: 0.8;
}

#prompt h1 {
  position: absolute;
  top: 7%;
  text-align: center;

  font-family: 'Star Wars', sans-serif;
  font-size: 2.5rem;
  letter-spacing: 3px;
  color: #ffe81f;

}

#prompt p{
  position: absolute;
  text-align: center;
  padding: 25px;

font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  color: #ffffff;
  opacity: 0.9;
}


#random-btn {
  position: absolute;
    top: 70%;

  padding:  28px;
  font-family: 'Star Wars', sans-serif;
  letter-spacing: 2px;
  font-size: 25px;

  background: transparent;
  color: #ffe81f;
  border: 2px solid #ffe81f;
  border-radius: 30px;
  cursor: pointer;

transition: 
    background 0.3s ease,
    color 0.3s ease,
    transform 0.2s ease,
    box-shadow 0.3s ease;
}

  #random-btn:hover {
  background: #ffe81f;
  color: black;
  transform: translateY(-4px);
  box-shadow: 0 0 20px rgba(255, 232, 31, 0.7);
}

/* CLIQUE */
#random-btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0 10px rgba(255, 232, 31, 0.5);
}

#quote {
  white-space: pre-line;
}

@media (max-width: 600px) {

#prompt{
    width: 400px;
    height: 700px;
}

#prompt h1 {
padding-top: 5px;
  font-size: 35px;
  padding-left: 10px;
  padding-right: 10px;
}

#prompt p{
    font-size: 30spx;
 
}
#prompt button{
    margin-top: 40px;
}
}